[Desktop Entry]
Version=1.0
Type=Application
Name=Ongaku
Comment=Download Music Freely
Exec=ongaku
Icon=ongaku
Terminal=false
Categories=AudioVideo;Audio;
Keywords=youtube;download;music;mp3;playlist;
